<header class="landing-template">
  <div class="btns-div">
    <a href="/signup" class="btn btn-lg btn-landing mr-4">Sign up</a>
    <a href="/login" class="btn btn-lg btn-landing btn-landing--purple">Sign in</a>
  </div>
</header>

<section class="quotes-section">
  <div class="hero-quote">
    <div class="quote-box">
      <div class="text_area">
        <i class="fas fa-quote-left"></i>
        <i class="fas fa-quote-right"></i>
        <div class="text-container">
          <h1 class="text-title">I love jabbr!</h1>
          <p class="text-quote">Being able to interact with my fans and threaten Gotham at the same time is rather... convenient.
          </p>
          <p class="text-author"> - Joker</p>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-quote">
    <div class="quote-box">
      <div class="text_area">
        <i class="fas fa-quote-left"></i>
        <i class="fas fa-quote-right"></i>
        <div class="text-container">
          <h1 class="text-title">My favorite site!</h1>
          <p class="text-quote">Jabbr is amazing! Follow me to Wakanda and everywhere else! (Don't follow my ex-husband.)
          </p>
          <p class="text-author"> - Storm</p>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-quote">
    <div class="quote-box">
      <div class="text_area">
        <i class="fas fa-quote-left"></i>
        <i class="fas fa-quote-right"></i>
        <div class="text-container">
          <h1 class="text-title">Pretty good</h1>
          <p class="text-quote">Its no Stark Industries technological advancement but its pretty cool.
          </p>
          <p class="text-author"> - Iron Man</p>
        </div>
      </div>
    </div>
  </div>
</section>