<div class="starter-template">
  <h1>Join and Follow Awesome Pups!</h1>
  <p class="lead"> Sign up now and enjoy the ultimate social experience</p>

  <a href="/signup" class="btn btn-primary btn-lg">Sign up</a>
  <a href="/login" class="btn btn-primary btn-lg">Sign in</a>
</div>